<article>
  <h3>Latest Posts in {{neighborhood}}:</h3>
  <a href="/new-post/">New Post</a>
  <br />
  <br />
  {{#each posts}}
    <div>
      <div>
        <a href="/post/{{dataValues.id}}"><h3>{{dataValues.title}}</h3></a>
        <h4>{{OP.dataValues.firstName}} {{OP.dataValues.lastName}}</h4>
        <p>{{dataValues.content}}</p>
      </div>
      <div>
        <h3>Comments:</h3>
        {{#each comments}}
          <p>{{dataValues.content}}</p>
        {{/each}}
      </div>
    </div>
  {{/each}}
</article>