
<a href="/new-post/" class="btn new-post">New Post</a>
<article class="display">
  <h3 id="headline">Latest Posts in {{neighborhood}}:</h3>
  
  <br />
  <br />
  {{#each posts}}
    <br />
    <div id="one-post">
      <div id="title-user">
        <h4>{{OP.dataValues.firstName}} {{OP.dataValues.lastName}}:</h4><span>
        <a class='post-dash' href="/post/{{dataValues.id}}"><h4>{{dataValues.title}}</h4></a></span>
      </div>
      <div>
        <p class="post-dash">{{dataValues.content}}</p>
      </div>
      <div>
        {{#if comments}}
          <br />
          <h4>Comments:</h4>
          {{#each comments}}
            <p class="post-dash">{{dataValues.content}}</p>
          {{/each}}
        {{/if}}
      </div>
    </div>
    <br />
  {{/each}}
</article>