<article>
  <h3>Latest Posts in {{neighborhood}}:</h3>
  <a href="/new-post/">New Post</a>
  <br />
  <br />
  {{#each posts}}
    <br />
    <div>
      <div>
        <a href="/post/{{dataValues.id}}"><h3>{{dataValues.title}}</h3></a>
        <h4>{{OP.dataValues.firstName}} {{OP.dataValues.lastName}}</h4>
        <p>{{dataValues.content}}</p>
      </div>
      <div>
        {{#if comments}}
          <br />
          <h3>Comments:</h3>
          {{#each comments}}
            <p>{{dataValues.content}}</p>
          {{/each}}
        {{/if}}
      </div>
    </div>
    <br />
  {{/each}}
</article>