<section>
  <div>
    <h3>{{post.dataValues.title}} {{#if isOP}} <a href="/post/{{post.dataValues.id}}/edit"><span>Edit</span></a></h3> {{/if}}
    <h4>{{post.OP.dataValues.firstName}} {{post.OP.dataValues.lastName}}</h4>
    <p>{{post.dataValues.content}}</p>
  </div>
  <br />
  <a href="/post/{{post.dataValues.id}}/comment">New Comment</a>
  {{#each post.comments}}
    <div>
      <h4>{{commenter.dataValues.firstName}}
        {{commenter.dataValues.lastName}} {{#if isCommenter}}<span><a href="/comment/{{dataValues.id}}/edit">Edit</a></span>{{/if}}</h4>
      <p>{{dataValues.content}}</p>
    </div>
  {{/each}}
</section>